
{% extends "standings/base.html" %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Jugador</th>
      <th scope="col">Punts</th>
      <th scope="col">Tornejos jugats</th>
    </tr>
  </thead>
  <tbody>
    {% for player in standings %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ player.0}}</td>
        <td>{{ player.1 }}</td>
        <td>{{ player.2 }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
