{% extends "standings/base.html" %}
{% block content %}
    {% if not rounds %}
    <h1>Començem l'1 d'Octubre</h1>
    {% else %}
    {% for round in rounds %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">Jornada: {{ round.number }} </a>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Jugador</th>
                    <th scope="col">Punts</th>
                  </tr>
                </thead>
                <tbody>
                  {% for player in round.players %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ player.name }}</td>
                      <td>{{ player.points }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
      </article>
    {% endfor %}
    {% endif %}
{% endblock content %}